# Visual Studio
.vs/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.opendb

# Build output
Build/
x64/
x86/
Debug/
Release/
ipch/

# Object files
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe

# Other
Thumbs.db
Desktop.ini
